<div class="container">
  <div class="row">
    <%= render "users/info", {user: current_user, book: @book} %>
    <div class="col-md-8 offset-md-1">
     <h1>Group Detail</h1>
     <table class="table table-hover table-inverese">
        <tr>
          <th></th>
          <th>グループ名</th>
          <th>紹介文</th>
          <th>メンバー</th>
          <th></th>
        </tr>
       <tr>
         <td><%= image_tag @group.get_image, size: "80x80" %></td>
         <td><%= @group.name %></td>
         <td><%= @group.introduction %></td>
         <td>
            <%= @group_owner.name %><br>
            <% @group.users.each do |user| %>
             <%= user.name %>
            <% end %>
         </td>
         <td>
           <% if @group.is_owned_by?(current_user) %>
             <%= link_to "Edit", edit_group_path(@group), class: "btn btn-success btn-sm" %>
             <%= link_to "Destroy", group_path(@group), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-sm btn-danger" %>
           <% elsif @group.includesUser?(current_user) %>
             <%= link_to "Leave this group", group_group_users_path(@group), method: :delete, class: "btn btn-sm btn-danger" %>
           <% else %>
             <%= link_to "Join this group", group_group_users_path(@group), method: :post, class: "btn btn-sm btn-success" %>
           <% end %>
         </td>
       </tr>
     </table>
    </div>
  </div>
</div>