<div class="container">
  <div class="row">
    <%= render "info", {user: @user, book: @book} %>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover">
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
        <% @books.each do |book| %>
          <tr>
            <td>
              <%= link_to user_path(book.user) do %>
               <%= image_tag @user.get_profile_image, size: "80x80" %>
              <% end %>
            </td>
            <td><%= link_to book.title, book_path(book) %></td>
            <td><%= book.body %></td>
            <td><%= render "books/count", book_detail: @book_detail %></p></td>
            <td>
              <div id="star-rate<%= book.id %>"></div>
              <script>
                $('#star-rate<%= book.id %>').raty({
                  size      : 36,
                  starOff   : '<%= asset_path('star-off.png') %>',
                  starHalf  : '<%= asset_path('star-half.png') %>',
                  starOn    : '<%= asset_path('star-on.png') %>',
                  half      : true,
                  readOnly: true,
                  score: <%= book.star %>,
                });
              </script>
            </td>
          </tr>
        <% end %>
      </table>
      <%= form_with url: user_search_path(@user), method: :get, local: false do |f| %>
        <%= f.date_field :created_at %>
        <%= f.submit "検索" %>
      <% end %>
      <div id="search_result">
        <% if @search_book.present? %>
         <%= render "search", search_book: @search_book %>
        <% end %>
      </div>
      <h2>投稿数の前日比・先週比</h2>
      <table class="table">
        <tr>
          <th>今日の投稿数</th>
          <th>前日の投稿数</th>
          <th>前日比</th>
        </tr>
        <tr>
          <td><%= @today_book.count %></td>
          <td><%= @yesterday_book.count %></td>
          <td>
            <% if @yesterday_book.count == 0 %>
             前日の投稿はありません
            <% else %>
             <% @the_day_before = @today_book.count / @yesterday_book.count.to_f %>
             <%= (@the_day_before * 100).round %>
            <% end %>
          </td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <th>今週の投稿数</th>
          <th>前週の投稿数</th>
          <th>前週比</th>
        </tr>
        <tr>
          <td><%= @this_week_book.count %></td>
          <td><%= @last_week_book.count %></td>
          <td>
            <% if @last_week_book.count == 0 %>
             先週の投稿はありません
            <% else %>
             <% @the_week_before = @this_week_book.count / @last_week_book.count.to_f %>
             <%= (@the_week_before * 100).round %>
            <% end %>
          </td>
        </tr>
      </table>
      <h2>7日間分の投稿数</h2>
      <table class="table table-hover">
        <tr>
          <th>6日前</th>
          <th>5日前</th>
          <th>4日前</th>
          <th>3日前</th>
          <th>2日前</th>
          <th>1日前</th>
          <th>今日</th>
        </tr>
        <tr>
          <td><%= @books.created_6days_ago.count %></td>
          <td><%= @books.created_5days_ago.count %></td>
          <td><%= @books.created_4days_ago.count %></td>
          <td><%= @books.created_3days_ago.count %></td>
          <td><%= @books.created_2days_ago.count %></td>
          <td><%= @yesterday_book.count %></td>
          <td><%= @today_book.count %></td>
        </tr>
      </table>
      <canvas id="myChart"></canvas>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
        <script>
          var ctx = document.getElementById('myChart');
          var chart = new Chart(ctx, {
              // 作成したいチャートのタイプ
              type: 'line',
              // データセットのデータ
              data: {
                  labels: ["6日前", "5日前", "4日前", "3日前", "2日前", "1日前", "今日"],
                  datasets: [{
                      label: "投稿した本の数",
                      data: [
                          <%= @books.created_6days_ago.count %>,
                          <%= @books.created_5days_ago.count %>,
                          <%= @books.created_4days_ago.count %>,
                          <%= @books.created_3days_ago.count %>,
                          <%= @books.created_2days_ago.count %>,
                          <%= @yesterday_book.count %>,
                          <%= @today_book.count %>
                      ],
                      backgroundColor: 'rgba(0,0,0,0)',
                      borderColor: 'rgba(0,0,255,1)',
                  }]
              },
              // 設定オプション
              options: {
                title: {
                  display: true,
                  text: '7日間の投稿数の比較'
                },
                responsive: true,
              }
          });
        </script>
    </div>
  </div>
</div>