<div class="container">
  <div class="row">
    <%= render "users/info", {user: @user, book: @book} %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tr>
          <td>
            <%= link_to user_path(@user) do %>
             <%= image_tag @user.get_profile_image, size: "80x80" %><br>
             <%= @user.name %>
            <% end %>
          </td>
          <td><%= link_to @books.title, book_path(@books) %></td>
          <td><%= @books.body %></td>
          <td id="counter">
            <%= render "book_comments/book_comments_counter", books: @books %>
          </td>
            <% if @books.user == current_user %>
               <td><%= link_to "Edit", edit_book_path(@books), class: "btn btn-success btn-sm" %></td>
               <td><%= link_to "Destroy", book_path(@books), method: :delete, data: {confirm: "削除しますか？"},class: "btn btn-danger btn-sm" %></td>
            <% end %>
        </tr>
      </table>
      <h2>Comment</h2>
        <div id="book_comments">
          <%= render "book_comments/index", books: @books %>
        </div>
        <%= form_with(model:[@books, @book_comment], local: false) do |f| %>
          <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに", class: "w-100" %>
          <%= f.submit "送信" %>
        <% end %>
    </div>
  </div>
</div>