<div class="container">
  <div class="row">
    <%= render "users/info", {user: @user, book: @book} %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tr>
          <td>
            <%= link_to user_path(@user) do %>
             <%= image_tag @user.get_profile_image, size: "80x80" %><br>
             <%= @user.name %>
            <% end %>
          </td>
          <td><%= link_to @books.title, book_path(@books) %></td>
          <td><%= @books.body %></td>
            <% if @books.user == current_user %>
               <td><%= link_to "Edit", edit_book_path(@books), class: "btn btn-success btn-sm" %></td>
               <td><%= link_to "Destroy", book_path(@books), method: :delete, data: {confirm: "削除しますか？"},class: "btn btn-danger btn-sm" %></td>
            <% end %>
        </tr>
      </table>
      <h2>Comment</h2>
      <table class="table">
        <tbody>
              <tr>
                <th>プロフィール画像</th>
                <th>名前</th>
                <th>コメント</th>
                <th></th>
              </tr>
              <div class="comment_index">
                <%= render "book_comments/book_comments_index", books: @books %>
              </div>
        </tbody>
      </table>
      <div id="comment_form">
        <%= render "book_comments/form", {book: @book, book_comment: @book_comment, books: @books} %>
      </div>
    </div>
  </div>
</div>